.brustchirurgie {
  margin-bottom: rem(228);

  @include laptop {
    @include fit('margin-bottom', 228, 50, 1);
  }

  &__top {
    overflow: hidden;
    position: relative;
    min-height: rem(500);
    padding: rem(90) 0 0 0;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url('../img/brustchirurgie/bg.webp') no-repeat;
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #000000 -52.96%, rgba(0, 0, 0, 0) 50%);
      opacity: 0.5;
    }

    @include laptop {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }
  &__bottom {
    position: relative;
    @include fit('margin-left', -10, 0, 1);
    max-height: rem(425);

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #000000;
      opacity: 0.1;
      backdrop-filter: blur(4px);
      border-radius: 0 0 rem(40) rem(40);
    }

    @include laptop {
      max-height: unset;
      // mix-height: rem(425);
    }
  }
}

.top-brustchirurgie {
  &__main {
    display: flex;
    justify-content: end;
  }
  &__body {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: rem(27);
    max-width: rem(1142);

    color: #000;
    background: #F3F3F3;
    opacity: 0.9;
    border-radius: rem(40);

    @include fit('padding-left', 64, 15, 1);
    @include fit('padding-top', 53, 15, 1);
    @include fit('padding-bottom', 69, 15, 1);
    @include fit('padding-right', 414, 15, 1);

    @include fit('margin-right', -264, 15, 1);

    @include laptop {
      @include fit('padding-right', 150, 15, 1);
      margin-right: 0;
      margin-left: rem(15);
      border-radius: rem(40) 0 0 rem(40);
    }
  }
}

.bottom-brustchirurgie {
  &__main {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: end;

    @include fit('padding-right', 66, 15, 1);
    @include fit('padding-left', 25, 15, 1);

    @include laptop {
      padding-bottom: rem(15);
    }
  }
  &__body {
    @include fit('padding-top', 49, 30, 1);
    display: grid;
    gap: rem(32);
    grid-template: minmax(rem(499), auto) / minmax(auto, rem(500)) minmax(auto, rem(422));

    @include laptop {
      grid-template: auto minmax(rem(400), auto) / 1fr;
    }
  }
  &__text {
    @include fit('padding-top', 28, 0, 1);
  }
  &__image {

    & img {
      object-fit: contain;
    }

    &::before {
      position: absolute;
      content: '';
      width: 115%;
      height: 115%;
      left: rem(-33);
      top: rem(22);
      background: url('../img/brustchirurgie/decore.svg') no-repeat;
      background-size: contain;
    }

    @include laptop {
      max-width: rem(321);
      width: 100%;
      margin: 0 auto;
    }
  }
}
