.footer {
  overflow: hidden;

  &__main {
    position: relative;
    z-index: 2;
    @include fit('padding-bottom', 82, 50, 1);
    margin-left: rem(-39);

    display: grid;
    @include fit('gap', 69, -69, 1);
    grid-template: minmax(rem(401), auto) / minmax(auto, rem(548)) minmax(auto, rem(490)) minmax(auto, rem(235));

    @include laptop {
      grid-template: minmax(rem(401), auto) auto auto / 1fr;
      gap: rem(30);
      margin-left: 0;
      padding-left: rem(15);
      padding-right: rem(15);

      & br {
        display: none;
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: rem(21);

    @include laptop {
      gap: rem(15);
    }
  }
  &__info {
    align-self: end;
    margin-left: rem(-27);
    margin-bottom: rem(30);

    @include laptop {
      align-self: unset;
      margin: 0;
    }
  }
}

.map-footer {
  &__image {
    display: block;
    height: 100%;
    border-radius: rem(40);
    overflow: hidden;

    @include laptop {
      max-width: rem(548);
    }
  }
  &__location {
    position: absolute;
    width: rem(49);
    height: rem(49);
    top: rem(123);
    font-size: rem(46);

    @include fit('left', 333, 359, 1);

    @include mq(rem(1349)) {
      @include fit('left', 360, -40, 1);
    }

    @include laptop {
      left: rem(333)
    }

    @include mq(rem(578)) {
      @include fit('left', 750, 205, 1);
    }
  }
}

.contacts-footer {
  &__row {
    &:first-child {
      padding: rem(20) 0 rem(5) 0;

      @include laptop {
        padding: 0;
      }
    }
  }
  &__subtitle {
    font-weight: 700;
    @include fit('font-size', 24, 22, 1);
    @include fit('line-height', 32, 28, 1);
  }
  &__text {
    @include fit('font-size', 24, 18, 1);
    @include fit('line-height', 32, 28, 1);
  }
  &__link {
    color: #fff;
  }
  &__mail {
    text-decoration: underline;
  }
}

.info-footer {
  &__logo {
    max-width: rem(235);
    width: 100%;
    height: rem(42);

    & img {
      object-fit: contain;
    }
  }
}
