.menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  
  .burger {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    left: rem(20);
    top: rem(30);
    padding: rem(20) 0 0 rem(20);
    width: rem(30);
    height: rem(25);
    background-color: transparent;

    & span {
      pointer-events: none;
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: #fff;
      transition: .3s ease;
      border-radius: 10px;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);

      }
      &:nth-child(3) {
        bottom: 0;
      }
    }

    &.active {
      & span {
        &:nth-child(1) {
          top: 11px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate(0, -50%) scale(0);
          transition: 1s ease-out;
        }
        &:nth-child(3) {
          bottom: 11px;
          transform: rotate(-45deg);
        }
      }
      + .menu__wrapp {
        opacity: 1;
        pointer-events: all;
        .menu__list {
          left: 0;
        }
      }
    }

    @include mq(rem(1380)) {
      display: block;
    }
  }
  &__logo {
    position: fixed;
    z-index: 10;
    width: rem(274);
    height: rem(105);
    left: rem(43);
    top: rem(73);
  }
  &__wrapp {
    position: fixed;
    z-index: 10;
    left: rem(95);
    top: rem(312);
  
    @include mq(rem(1380)) {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: unset;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      pointer-events: none;
      transition: .3s ease;

      .menu__scale {
        display: none;
      }

      .menu__list {
        position: absolute;
        left: -100%;
        top: 0;
        overflow: auto;
        padding: rem(80) 0;
        display: flex;
        align-items: center;
        width: rem(280);
        height: 100%;
        background-color: rgba(224, 100, 118, 0.9);
        transition: .8s ease;
      }
    }
  }
  &__scale {
    position: absolute;
    height: rem(247);
    width: 1px;
    left: rem(-35);
    bottom: rem(-21);
    border: 1px solid rgba(255, 255, 255, .3);

    & span {
      position: absolute;
      display: block;
      left: rem(-5);
      top: rem(205);
      transition: .3s ease;
      
      &::before {
        font-size: rem(10);
        color: #fff;
      }
    }
  }
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(22);
  }
  & li {
    &:last-child {
      @include mq(rem(1380)) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(20);
      }
    }
  }
  &__link {
    font-size: rem(20);
    line-height: rem(26);
    color: #fff;
    transition: .3s ease;
  }
  &__phone {
    display: none;
    
    @include tablet {
      display: block;
      font-size: rem(18);
      font-weight: 400;
    }
  }
}

.logo-menu {
  &__img {
    height: 100%;
    & img {
      object-fit: contain;
    }
  }
}