.team-page {
  overflow: hidden;
  &__logo {
    @include fit('margin-top', 65, 120, 1);
    @include fit('margin-left', 76, 15, 1);
    width: 100%;
    max-width: rem(174);
    min-height: rem(69);

    & img {
      object-fit: contain;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    @include fit('padding-left', 423, -423, 1);
    @include fit('padding-top', 41, 30, 1);
    @include fit('padding-bottom', 50, 25, 1);

    @include laptop {
      padding: rem(30) rem(15) rem(25) rem(15);
    }
  }
  &__row{
    max-width: rem(874);
    &_min {
      max-width: rem(822)
    }
  }
  &__drs {
    max-width: rem(1038);
    @include fit('margin-top', 15, 0, 1);
    @include fit('margin-bottom', 20, 0, 1);
    margin-right: rem(-21);
    padding-right: rem(21);

    @include laptop {
      margin-right: rem(0);
    }
  }
  &__hover {
    position: relative;
    z-index: 2;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(189, 91, 106, 0.2);
    border-radius: rem(40);
    transition: .5s ease;
    
    display: flex;
    flex-direction: column;
    gap: rem(20);
    
    height: 0;
    opacity: 0;
    pointer-events: none;

    &.show-info {
      height: unset;
      @include fit('padding-top', 56, 15, 1);
      @include fit('padding-left', 51, 15, 1);
      @include fit('padding-right', 146, 15, 1);
      @include fit('padding-bottom', 110, 15, 1);
      margin-top: rem(-210);
      opacity: 1;
      pointer-events: all;

      .hover-team-page__pointer {
        opacity: 1;
      }

      @include tablet {
        @include fit('margin-top', -30, -290, 1);
      }

      @include mq(rem(350)) {
        @include fit('margin-top', -30, -325, 1);
      }
    }
  }
}

.drs-team-page {
  &__img {
    cursor: pointer;
    max-width: 224px;
    height: 373px;
    
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.hover-team-page {
  &__pointer {
    position: absolute;
    display: block;
    left: 38%;
    top: rem(-25);
    transition: .5s ease;
    
    @include triangle(rem(25), right, #fff);
    opacity: 0;
  }
  &__box {
    display: flex;
    flex-direction: column;
    @include fit('gap', 30, 15, 1);
  }
  &__text {
    padding: rem(20) 0;
  }
  &__subtitle {
    font-weight: 700;
    @include fit('font-size', 20, 18, 1);
    @include fit('line-height', 32, 28, 1);

    &_big {
      @include fit('font-size', 24, 20, 1);
      @include fit('line-height', 32, 28, 1);
      max-width: rem(425);
    }
  }
}
