.werwir {
  overflow: hidden;
  &__main {
    position: relative;
    @include fit('padding-right', 91, 0, 1);
    padding-top: rem(64);
    justify-content: end;
    display: grid;
    grid-template: minmax(rem(822), 1fr) / minmax(auto, rem(467)) minmax(auto, rem(543));

    @include mq(rem(1150)) {
      justify-content: space-between;
      @include fit('padding-right', 50, 15, 1);
      @include fit('padding-left', 50, 15, 1);
    }

    @include laptop {
      gap: rem(20);
      grid-template: auto minmax(rem(300), auto) /  1fr;
    }
  }
  &__info {
    @include fit('margin-top', 44, 80, 1);
  }
  &__image {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: rem(576);
      height: rem(822);
      top: rem(-11);
      @include fit('right', -52, -100, 1);

      background: url('../img/werwir/decore.svg') no-repeat;
      background-size: contain;
      @include laptop {
        right: 50%;
        top: rem(-50);
        transform: translateX(50%);
        width: rem(276);
        height: rem(522);
      }
    }

    @include laptop {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

.info-werwir {
  &__logo {
    margin: 0 0 0 rem(-79);
    width: rem(250);
    height: rem(103);

    & img {
      object-fit: contain;
    }

    @include mq(rem(1150)) {
      margin: 0;
    }
  }
  &__title {
    @include fit('margin-top', 75, 20, 1);
    @include fit('margin-bottom', 38, 20, 1);
  }
}

.image-werwir {
  &__img {
    position: relative;
    display: flex;
    min-width: rem(280);
    width: 100%;
    height: 100%;

    & img {
      object-fit: contain;

      @include laptop {
        object-fit: cover;
      }
    }

    &::before {
      position: absolute;
      content: '';
      left: -12px;
      top: 50%;
      transform: translate(0, -50%);
      width: rem(706);
      height: rem(706);
      background: #920016;
      mix-blend-mode: multiply;
      opacity: 0.3;
      filter: blur(100px);

      @include laptop {
        width: rem(406);
        height: rem(406);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


