.ibga { 
  position: relative;

  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  font-weight: 300;
  @include fit('font-size', 40, 28, 1);
  @include fit('line-height', 52, 40, 1);
}

.text {
  @include fit('font-size', 20, 18, 1);
  @include fit('line-height', 32, 28, 1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(21);
  height: rem(42);
  width: 100%;

  font-size: rem(20);
  line-height: rem(26);
  background-color: #fff;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: rem(40);
  transition: .3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.logo {
  position: fixed;
  top: rem(73);
  left: rem(43);
  width: rem(274);
  height: rem(105);

  &__image {
    height: 100%;

    & img {
      object-fit: contain;
    }
  }

  @include mq(rem(1380)) {
    display: none;
  }
}
